body {
    text-align: center;
    display: flex;
    flex-direction: column; /* optional, helps stack items vertically */
    align-items: center;
}

div {
    height: 100px;
    width: 500px;
    border: 1px solid black;
    margin: auto;
}
